#bottomLine {
  display: flex;
  flex: 1;
}

#sideBanner {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  width: 50px;
  flex: 1;
}

#sideBanner button {
  flex: 1;
}
#sideBanner span:nth-child(8) {
  flex: 10;
}

#todoList {
  flex: 1;
}

.sideIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideIcons:hover {
  background-color: rgb(93, 105, 69);
}
.sideIcons .fas,
.sideIcons .far {
  color: black;
}

#todoList {
  display: flex;
  flex-direction: column;
  flex: 20;
}
#todoTitle {
  flex: 1;
  display: flex;
}
#todoContent {
  flex: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#date {
  font-size: 13px;
  margin: 3px 0px 5px 20px;
}
.fa-ellipsis-h {
  color: rgb(93, 105, 69);
  margin-top: 13px;
}
.fa-ellipsis-h:hover {
  background-color: gainsboro;
}

.fa-plus,
.fa-circle {
  margin: 15px;
}
h3 {
  color: rgb(93, 105, 69);
  margin: 20px 20px 0px 20px;
}

.todos {
  height: 50px;
  border-bottom: solid 1px gainsboro;
  width: 95%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.todos form {
  width: 98%;
  height: 80%;
}
.todos input {
  width: 100%;
  height: 100%;
  border: none;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

.todoEntered:hover {
  background-color: gainsboro;
}

.fa-circle:hover {
  color: rgb(93, 105, 69);
}

.fa-trash-alt {
  margin-right: 40px;
}
